<img src="../img/company-card-logo.png" class="company-card__img" alt="" />
<!-- <div class="company-card__img"></div> -->
<div class="company-card__title">
	<span>Представительство компании</span>
	<span>Ultimate 3D Printing Store</span>
</div>
<div class="company-card__address">
	Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis, sequi. Impedit
	dolor in maxime voluptates molestias. <br />
	<a href="#" class="company-card--link">Показать адрес на карте</a>
</div>
<div class="company-card-contacts">
	<div class="company-card__person">
		<div class="left">Контактное <br />лицо</div>
		<div class="right">
			<div class="right--bold">Иванов Иван Иванович</div>
			<div class="right--grey">Генеральный директор</div>
		</div>
	</div>
	<div class="company-card__phone">
		<div class="left">Телефон</div>
		<div class="right">
			<span>+1 (813)-280-1115 &nbsp;</span>
			<span>+1 (813)-277-8200</span>
		</div>
	</div>
	<div class="company-card__email">
		<div class="left">Эл. почта</div>
		<div class="right">
			<a href="#" class="company-card--link">sales@u3dps.com</a>
		</div>
	</div>
	<div class="company-card__website">
		<div class="left">Сайт</div>
		<div class="right">
			<a href="#" class="company-card--link">ultimate3dprintingstore.com</a>
		</div>
	</div>
</div>
